.explore-bg, .accordion-item h2 {
    background-color:#F4FAFD;
}
.carousel-item img{
    filter: brightness(60%);
}
@media only screen and (max-width:576px) {
    .carousel-item{
        height: 40vh;
    }
}